packages/
SportsStore.WebUI/obj/
SportsStore.UnitTests/bin/
SportsStore.UnitTests/obj/
SportsStore.Domain/bin/
SportsStore.WebUI/bin/
.vs/
SportsStore.Domain/obj/
SportsStore.WebUI/fonts/
SportsStore.WebUI/Scripts/modernizr-2.6.2.js
SportsStore.WebUI/Scripts/jquery-1.10.2.min.map
SportsStore.WebUI/Scripts/jquery-1.10.2.min.js
SportsStore.WebUI/Scripts/jquery-1.10.2.js
SportsStore.WebUI/Scripts/jquery-1.10.2.intellisense.js
SportsStore.WebUI/Scripts/bootstrap.min.js
SportsStore.WebUI/Scripts/bootstrap.js
SportsStore.WebUI/Content/bootstrap.min.css
SportsStore.WebUI/Content/bootstrap.css
